#Spark Apache (семинары)

###Урок 5. Spark on scala

Условие: создайте csv файл с таким содержимым:

title,author,genre,sales,year

"1984", "George Orwell", "Science Fiction", 5000, 1949

"The Lord of the Rings", "J.R.R. Tolkien", "Fantasy", 3000, 1954

"To Kill a Mockingbird", "Harper Lee", "Southern Gothic", 4000, 1960

"The Catcher in the Rye", "J.D. Salinger", "Novel", 2000, 1951

"The Great Gatsby", "F. Scott Fitzgerald", "Novel", 4500, 1925

Задание:

— Используя Spark прочитайте данные из файла csv.
— Фильтруйте данные, чтобы оставить только книги, продажи которых превышают 3000 экземпляров.
— Сгруппируйте данные по жанру и вычислите общий объем продаж для каждого жанра.
— Отсортируйте данные по общему объему продаж в порядке убывания.
— Выведите результаты на экран.

In [34]:
import csv

with open('dz5.csv', 'w', newline='') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    filewriter.writerow(['title','author','genre','sales','year'])
    filewriter.writerow(["1984", "George Orwell", "Science Fiction", 5000, 1949])
    filewriter.writerow(["The Lord of the Rings", "J.R.R. Tolkien", "Fantasy", 3000, 1954])
    filewriter.writerow(["To Kill a Mockingbird", "Harper Lee", "Southern Gothic", 4000, 1960])
    filewriter.writerow(["The Catcher in the Rye", "J.D. Salinger", "Novel", 2000, 1951])
    filewriter.writerow(["The Great Gatsby", "F. Scott Fitzgerald", "Novel", 4500, 1925])

In [ ]:
!pip install pyspark

In [81]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, col, desc

- Используя Spark прочитайте данные из файла csv.

In [60]:
spark = SparkSession.builder.getOrCreate()

df = spark.read.option("delimiter", ",").option("header", True).csv('dz5.csv')
df.show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|                1984|      George Orwell|Science Fiction| 5000|1949|
|The Lord of the R...|     J.R.R. Tolkien|        Fantasy| 3000|1954|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|The Catcher in th...|      J.D. Salinger|          Novel| 2000|1951|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

- Фильтруйте данные, чтобы оставить только книги, продажи которых превышают 3000 экземпляров.

In [49]:
df.filter(df.sales > 3000).show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|                1984|      George Orwell|Science Fiction| 5000|1949|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

- Сгруппируйте данные по жанру и вычислите общий объем продаж для каждого жанра.
- Отсортируйте данные по общему объему продаж в порядке убывания.

In [82]:
df.groupBy('genre').agg(sum('sales').alias('sales_sum')).sort(col('sales_sum').desc()).show()

+---------------+---------+
|          genre|sales_sum|
+---------------+---------+
|          Novel|   6500.0|
|Science Fiction|   5000.0|
|Southern Gothic|   4000.0|
|        Fantasy|   3000.0|
+---------------+---------+

In [83]:
spark.stop()