##Spark Apache (семинары)
Урок 1. SQL & BigData

In [ ]:
!pip install pyspark

In [3]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [16]:
data = [3,4,1,2,3,4,5,1,2,3,3,4,5,6,7,8,4]
t1 = []
t2 = [data[0]]
for x in data[1:]:
    if x > t2[-1]:
        t2.append(x)
    else:
        t1.append(t2)
        t2 = [x]
if t2:
    t1.append(t2)

print (f'Последовательности {t1}')

Последовательности [[3, 4], [1, 2, 3, 4, 5], [1, 2, 3], [3, 4, 5, 6, 7, 8], [4]]

In [17]:
sc = SparkContext("local", "dz1")
rdd = sc.parallelize(t1)
seq = rdd.max(key=lambda x: len(x))
print(f'Самая длинная поледовательность по возрастанию {seq}')

Самая длинная поледовательность по возрастанию [3, 4, 5, 6, 7, 8]

In [18]:
sc.stop()